{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": true
    },
    "target": "es2022"
  },
  "module": {
    "type": "commonjs"
  },
  "transform": {
    "decoratorMetadata": true
  },
  "sourceMaps": true
}
